# DB_TYPE is for input files. "Azure SQL" or "Azure postgres"
DB_TYPE="Azure SQL"  
MY_DB_HOST=xxxx.database.windows.net
MY_DB_PORT=1433
MY_DB_USER=
MY_DB_PASSWORD=
MY_DB_NAME=
MY_DB_SSLMODE=disable
PROMPTS=/app/graphrag-folder/prompts
CONFIG_PATH=/app/graphrag-folder/settings.yaml
AGE_HOST=postgres
AGE_PORT=5432
AGE_USER=
AGE_PASSWORD=
AGE_DB=postgres
USE_LOCAL_AGE=true
AOAI_API_BASE=https://xxxx.openai.azure.com
AOAI_API_KEY=
AOAI_LLM_MODEL=
AOAI_LLM_API_VERSION=
AOAI_LLM_DEPLOYMENT=
AOAI_EMBEDDING_MODEL=text-embedding-3-small
AOAI_EMBEDDING_API_VERSION="2023-05-15"
AOAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
GRAPHRAG_API_KEY=
GRAPHRAG_SEARCH_METHOD=local
#GRAPHRAG_SEARCH_METHOD=global
AZURE_OPENAI_RESPONSES_API_VERSION=preview
# optional:
GRAPHRAG_COMMUNITY_LEVEL=2
GRAPHRAG_DYNAMIC_COMMUNITY_SELECTION=true
GRAPHRAG_RESPONSE_TYPE="multiple paragraphs"
AGE_GRAPH_NAME=graphRAG
